@model ChargeAfter.Models.ViewModel.OfferViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Choose</title>
</head>
<body>
    <div>
        <h4>OfferViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Lender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Intrest)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Intrest)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.loanId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.loanId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.offerId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.offerId)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
